<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de sesión</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openHelp()">
        Ayuda
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <ion-item>
    <ion-input formControlName="email" type="email" placeholder="email@domain.com"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input formControlName="password" type="password">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
  </ion-item>

  <ion-button expand="block" type="submit" [disabled]="form.invalid">Iniciar sesión</ion-button>
</form>