<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
     <ion-label>
        <h2>Ingrese todos los campos solicitados</h2>
      </ion-label>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-sm="12">
        <form (submit)="submit()">
          <ion-item>
             <ion-input
                #emailInput
                label="Correo Electrónico"
                type="email"
                [(ngModel)]="email"
                name="email"
                placeholder="email@domain.com">
        </ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              #passwordInput
              type="password"
              label="Contraseña"
              [(ngModel)]="password"
              name="password">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
          </ion-item>
          <ion-button expand="block" type="submit" class="ion-margin-top">
            Iniciar sesión
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-label class="demo-usuarios">
  <h4><strong>Usuarios de prueba</strong></h4>

  <div class="demo-user">
    <p><strong>Email:</strong> user@email.com</p>
    <p><strong>Contraseña:</strong> 12345</p>
    <p><strong>Estado matrícula:</strong> PAGADA (puede inscribir)</p>
  </div>

  <div class="demo-user">
    <p><strong>Email:</strong> alumno2@demo.cl</p>
    <p><strong>Contraseña:</strong> abc123</p>
    <p><strong>Estado matrícula:</strong> PENDIENTE (no puede inscribir)</p>
  </div>
</ion-label>

</ion-content>
