# k8s/api-gateway.yaml
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: sgal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: api:1.0
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
            - name: AUTH_BASE_URL
              value: "http://auth:4000/auth"
            - name: INSCRIPCION_BASE_URL
              value: "http://inscripcion:5000"
            - name: PAGO_BASE_URL
              value: "http://pago:7000"
            - name: CORS_ORIGIN
              value: "http://localhost:5173,http://127.0.0.1:5500,http://localhost:8100,http://localhost:8090"
          readinessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /ready
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: sgal
spec:
  type: NodePort
  selector:
    app: api-gateway
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 32000
