# k8s/auth.yaml
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
  namespace: sgal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth
          image: auth:1.0
          ports:
            - containerPort: 4000
          env:
            - name: PORT
              value: "4000"
          readinessProbe:
            httpGet:
              path: /healthz
              port: 4000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /ready
              port: 4000
            initialDelaySeconds: 10
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: auth
  namespace: sgal
spec:
  selector:
    app: auth
  ports:
    - port: 4000
      targetPort: 4000
