# k8s/inscripcion-hpa.yaml
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: inscripcion-hpa
  namespace: sgal
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: inscripcion
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
