<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Portal de Inscripciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2>Bienvenido al Sistema de Inscripción</h2>
  <p>Selecciona una opción para continuar:</p>

  <ion-button expand="block" color="tertiary" (click)="irAAsignaturas()">
    📘 Ver Asignaturas e Inscribirse
  </ion-button>

  <ion-button expand="block" color="success" (click)="irAInscritas()">
    🧾 Ver Ramos Inscritos
  </ion-button>

  <ion-button expand="block" color="warning" (click)="irAPagoMatricula()">
    💳 Pago Matrícula
  </ion-button>
</ion-content>
