/* home.page.scss */
.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

#container {
  width: 100%;
  max-width: 400px;
}
