<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Resultado Pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-content">
  <div class="card">
    <h2>Pago de Matrícula</h2>

    <ion-item>
      <ion-label position="floating">RUT del Alumno</ion-label>
      <ion-input [(ngModel)]="rut" placeholder="Ej: 12345678-9"></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" (click)="realizarPago()">
      Pagar Matrícula
    </ion-button>
  </div>
</ion-content>
